<mat-nav-list>
    <div class="profile-card">
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="ATJ"> -->
        <!-- <div *ngIf=retrievedImage> -->
            <img  *ngIf="retrievedImage" [src]="retrievedImage" alt="ATJ">
            <div *ngIf="!retrievedImage">
                <img src="https://www.w3schools.com/howto/img_avatar.png">
            </div>
        <!-- </div> -->
        <div class="header">
            <!-- <h2>Abin T John</h2>
            <h4>abin.john@hrblock.com</h4> -->
            <h2>{{userName}}</h2>
            <h4>{{profileDetails?.email}}</h4>
        </div>
    </div>
    <div class="links">
        <mat-divider></mat-divider>
        <br>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/customize">Customize URL</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manage">Manage URL</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/report">Report Issue</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/FAQ">FAQ</a>
    </div>
    <!-- <mat-divider></mat-divider>
    <h2 matsubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Posts</a>

    <mat-divider></mat-divider>
    <h2 matsubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon> Contacts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon> Leads</a> -->
</mat-nav-list>
