<mat-accordion>
    <h1>General</h1>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is the repayment policy?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>According to the corporate policy we have 30 days cash back policy. Conditions applied</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What is the referal policy?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>According to the corporate policy we have 30 days cash back policy. Conditions applied</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can we refer friends and family?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>According to the corporate policy we have 30 days cash back policy. Conditions applied</p>
      </mat-expansion-panel>
  </mat-accordion>
  