header {
    position: fixed;
    width: 100%;
}

mat-toolbar {
    width: 100%;
}

#logo {
    width: 190px;
    margin-left: 20px;
}

img {
    width: 200px;
    height: 35px;
    padding-left: 20px;
}