<header>
    <mat-toolbar>
        <!-- <div class="menuItems">
            <span>My App</span>
            <div>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </div> -->
        <!-- <span>My App</span> -->
        <img id="logo" src="/assets/img/logo.svg" alt="Logo">
        <!-- <div>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon routerLinkActive="list-item-active" routerLink="/admin">admin_panel_settings</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>login</mat-icon>
            </button>
        </div> -->
    </mat-toolbar>
</header>