<app-header></app-header>
<!-- <br> -->
<div class="main">
    <div class="content">
        
      <br>
      <br>
      <br>
        <div class="columns">
          <ul class="price">
            <li class="header">Beta</li>
            <li class="grey">Free</li>
            <li>Create and share custom links</li>
            <li>Up to 1000 branded links / month</li>
            <li>Bulk link shortening</li>
            <li>QR Codes for the shorten link</li>
            <li class="grey"><button class="button" mat-raised-button (click)="updatePlan('Beta')">Proceed</button></li>
            <!-- <li class="grey"><a (click)="updatePlan('Beta')" class="button">Proceed</a></li> -->
          </ul>
        </div>

        <div class="columns">
          <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">$ 20.99 / Month</li>
            <li>Create and share custom links</li>
            <li>Up to 1000 branded links / month</li>
            <li>Bulk link shortening</li>
            <li>QR Codes for the shorten link</li>
            <li class="grey"><button class="button" mat-raised-button disabled>Proceed</button></li>
            <!-- <li class="grey"><a type="submit" class="button" disabled>Proceed</a></li> -->
          </ul>
        </div>
        
        <div class="columns">
          <ul class="price">
            <li class="header" style="background-color:#4CAF50">Pro</li>
            <li class="grey">$ 100.99 / Month</li>
            <li>Create and share custom links</li>
            <li>Up to 5000 branded links / month</li>
            <li>Bulk link shortening</li>
            <li>QR Codes for the shorten link</li>
            <li class="grey"><button class="button" mat-raised-button disabled>Proceed</button></li>
            <!-- <li class="grey"><a type="submit" class="button" disabled>Proceed</a></li> -->
          </ul>
        </div>
    </div>
</div>