<div fxLayout="row" fxLayoutWrap fxLayoutAligh="space-between center" fxLayoutGap="20px" class="stat-cards">
    <mat-card fxFlex="50">
        <h4>Short URLs</h4>
        <div>
            <app-premium-general-url (QREvent)="QADetails($event)"></app-premium-general-url>
        </div>
    </mat-card>
    <mat-card fxFlex="50">
        <h4>Custom Short URLs</h4>
        <div>
            <app-premium-custom-url (QREvent)="QADetails($event)"></app-premium-custom-url>
        </div>
    </mat-card>
</div>

<div *ngIf="QACodeInd">
    <br>
    <mat-card>
        <app-qrcode-generator [QRUrl]="QRvalue"></app-qrcode-generator>
    </mat-card>
    <br>
    <br>
</div>
