<div class="edit">
    <h2 mat-dialog-title>Edit issue details</h2>
    <mat-dialog-content style="overflow: hidden !important; max-height: initial;">
        <!-- <p>{{data|json}}</p> -->
        <form [formGroup]="userInfoForm" (ngSubmit)="saveForm()">
            <p style="color: red;" *ngIf="errorInd">{{errorMessage}}</p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Short Description</mat-label>
                    <input formControlName="issueTitle" matInput placeholder="Update describe issue">
                    <mat-error *ngIf="formValues.issueTitle.errors?.required">Required short description of the issue</mat-error>
                    <!-- <mat-error *ngIf="formValues.email.errors?.email">Please enter a valid email address</mat-error> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Issue details</mat-label>
                    <textarea id="description" formControlName="issueDescription" matInput placeholder="Update detailed issue description"></textarea>
                    <mat-error *ngIf="formValues.issueDescription.errors?.required">Required detailed description of the issue</mat-error>
                    <!-- <mat-error *ngIf="formValues.email.errors?.email">Please enter a valid email address</mat-error> -->
                </mat-form-field>
            </p>
            <mat-dialog-actions>
                <button type="submit" mat-button>Update</button>
                <button mat-button mat-dialog-close>Cancel</button>
            </mat-dialog-actions>
            <br>
        </form>
    </mat-dialog-content>
</div>