<mat-card>
    <div>
        <h2>Top monthly hits</h2>
        <app-overall-hits-line-chart></app-overall-hits-line-chart>
    </div>
</mat-card>
<br>
<div class="second">
    <mat-card style="width: 100%; margin-right: 10px;">
        <h2>Top monthly URLS</h2>
        <app-monthly-hit-table></app-monthly-hit-table>
    </mat-card>
    <mat-card style="width: 100%; margin-left: 10px;">
        <h2 style="text-align: center;">Top daily hits</h2>
        <app-daily-pie-chart></app-daily-pie-chart>
    </mat-card>
</div>
<br>
<br>

