img {
    width: 200px;
    height: 35px;
    padding-left: 20px;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
